.sectionRight {
width: 100%;
background: #000;

h1.history {
  padding: 1rem 0 0 2rem;
  font-size: 3rem;
  color:rgb(255, 255, 255);
  height: 15%;
}
p {
  margin: 1rem 0;
  color:rgb(255, 255, 255);
  padding: 0 1.5rem;
}
background-image: url(../components/pictures/sectionright.jpg);
opacity: 70%;
background-size: cover;
background-position: 40% 80%;
}