.sectionLeft {
  min-width: 50vw;
  width:50vw;
  min-height: 70vh ;
  background-image: url(../components/pictures/sectionleft.jpg);
  opacity: 60%;
  background-size: cover;
  .sectionBackground{
        height: 100%;
        background: #ff3a9970;

        .firstSection {
          display: flex;
          
          .personalInfo {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            label {
              margin:1rem 0 0.2rem 1rem;
              font-size:2rem;
              font-weight: 700;
              color:rgb(255, 255, 255);
              
              input {                
                margin-left: 1rem;
                font-size: large;
                float:right;
                width: 15rem;
                height: 3.5vh;
                border: none;
                opacity: 80%;
              }
            }
          }
          .resultBtn {
            border-radius: 30%;
            font-size: large;
            margin-left: 2rem;
            align-self: center;
            min-width: 4rem;
            height: 4rem;
            border: none;
            cursor: pointer;
            &:hover{
              background: rgb(165, 1, 1);
              color:white;
            }
          }
        }

        .secondSection {   
                 
          p {
           background: rgb(0, 0, 0);
           color: aliceblue;
           opacity: 80%;
           height: 10vh;
           position: relative;
           top: 120px;
           left: 25vw;
           transform:translate(-50%, -50%);
           padding-top: 30px ;
           text-align: center;
           width: 18vw;
           font-size: 2rem;
        }

        }

        .thirdSection {
          margin-top: 15vh;
          margin-left: 1.6rem;
          font-weight: bolder;
          color: rgb(255, 255, 255);
          font-size: 1.6rem;
        }

}
}